bin
build
.vscode/.cmaketools.json
/*.hdr
/*.exr
/*.png
/*.jpg
.vscode/ipch/
tests/renderings/*.png
tests/renderings/*.hdr
tests1/
.vs
testsr/
scripts/sync_yocto.sh
.vscode
**/.DS_Store
tests/hair.zip
tests/hair/
tests/bold-man/
tests/curly-hair
tests/hair-curls
tests/sloth
tests/sphere-hairblock
tests/straight-hair
tests/license.txt
